<br>
<div class="row">
    <div class="col-md-12">
        <p id="gramMsg">At Newsgram, we believe in efficiency and simple design without all the unecessary clutter of
            modern web
            applications. Here you will find the most up to date DFW Metroplex thanks to The Dallas Morning News. We
            scrape the top news you want to see and deliver them straight to your hands.
        </p>
    </div>
    <br>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Article Card Section Below -->
        {{#each articles}}
        {{#unless saved}}
        {{> articleCard/article}}
        {{/unless}}
        {{/each}}
        <!-- Article Card Section Above -->
    </div>
</div>