<div class="row">
    <div class="col-md-12">
        <h1>Welcome to Newsgram!</h1>
        <p>Your daily source for the most up to date Dallas Morning News delivered straight to you.</p>
        <a href="/scrape"><button>Scrape</button></a>
    </div>
</div>