<br>
<div class="row">
    <div class="col-md-12">
        <div class="card pathTitle">
            <div class="card-header pathHeader">
                Our Mission
            </div>
            <div class="card-body">
                <p class="gramMsg">At Newsgram, we believe in efficiency and simple design without all the unecessary
                    clutter of
                    modern web
                    applications. Here you will find the most up to date local DFW Articles thanks to The Dallas Morning
                    News.
                    We
                    scrape the top news you want to see and deliver them straight to your hands.
                </p>
                <p class="gramMsg">
                    <button class="btn navButton fetchArticles">Get New Articles</button>
                    <button class="btn navButton deleteArticles">Delete All Articles</button>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row" class="articleContainer">
    <div class="col-md-12">
        <!-- Article Card Section Below -->
        {{#each articles}}
        {{#unless saved}}
        {{> articleCard/article}}
        {{/unless}}
        {{/each}}
        <!-- Article Card Section Above -->
    </div>
</div>