.fa-newspaper {
    color: #43a047;
}

body {
    background-color: #121212;
    color: #ffffff;
}

h1 {
    color: #43a047;
}

.navbar {
    background-color: #272727;
}

#newsGramLogo {
    font-size: 30px;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-size: 20px;
    padding-top: 12px;
}

.nav-link:hover {
    color: #00701a;
}

.nav-link.active {
    color: #76d275;
}

.fa-bars {
    color: #ffffff;
}

.navbar-toggler {
    border: 1px solid #43a047;
}