.fa-newspaper {
    color: #43a047;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
}

h1 {
    color: #43a047;
}

.navbar {
    background-color: #272727;
}

#newsGramLogo {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-size: 20px;
    padding-top: 12px;
}

.nav-link:hover {
    color: #00701a;
}

.nav-link.active {
    color: #76d275;
}

.fa-bars {
    color: #ffffff;
}

.navbar-toggler {
    border: 1px solid #43a047;
}

/* Background Image, this technique makes the image responsive. */
.dallasImg {
    background-image: url("../assets/welcomeDallas.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Headings Font */
.textfont1 {
    font-family: 'Merriweather', serif;
}
/* Text Font */
.textfont2 {
    font-family: 'Source Sans Pro', sans-serif;
}

.navButton {
    background-color: #00701a;
    color: #ffffff;
}