<!-- Save a Note Modal -->
<div class="modal fade" id="noteModal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalDiv">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Article Notes
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="fas fa-times-circle"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">New note:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No <i
                        class="far fa-times-circle fa-lg"></i></button>
                <button type="button" class="btn btn-success yesUpdate" data-dismiss="modal">Save <i
                        class="far fa-check-circle fa-lg"></i></i></button>
            </div>
        </div>
    </div>
</div>