<nav id="navBar">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link disabled" id="newsGramLogo" href="/"><i class="far fa-newspaper"></i>
            Newsgram</a>
        <a class="nav-item nav-link active" id="homeTab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">Home</a>
        <a class="nav-item nav-link" id="savedTab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">Saved</a>
    </div>
</nav>
{{!-- 

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div> --}}