<nav class="navbar navbar-expand-lg" id="navBar">
    <a class="navbar-brand" id="newsGramLogo" href="/"><i class="far fa-newspaper"></i>
        Newsgram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" id="homeLink" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="savedLink" href="#">Saved</a>
            </li>
        </ul>
    </div>
</nav>