<nav class="navbar navbar-expand-lg" id="navBar">
    <a class="navbar-brand" id="newsGramLogo" href="/"><i class="far fa-newspaper"></i>
        Newsgram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <!-- 'justify-content-between' allows for the spacing of navbar elements -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="homeLink" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="savedLink" href="/saved">Saved</a>
            </li>
        </ul>
        <!-- 'justify-content-between' allows for these to be on the far right side -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <button type="button" class="btn navButton fetchArticles" id="plusBtn" data-toggle="tooltip"
                    data-placement="bottom" title="Get New Articles"><i class="fas fa-plus"></i></button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn deleteArticles" id="minusBtn" data-toggle="tooltip"
                    data-placement="bottom" title="Clear All Articles"><i class="fas fa-minus"></i></button>
            </li>
        </ul>
    </div>
</nav>
<div class="dallasImg">
    <div class="dallasTextContainer">
        <h1 id="dallasHeading">The Dallas Morning News Edition</h1>
    </div>
</div>